* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* overflow-x: hidden; */
}
img {
  vertical-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.clg {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
li,
a {
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
}
.align_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.equal_col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}
.equal_col-service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 3rem;
}
.number_equal_col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 1rem;
}
.section {
  padding-block: 10rem;
}
/* ? navbar section Start */

.nav_container {
  padding-block: 1.8rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.sticky_nav {
  position: fixed;
  background-color: #5c5c5c;
}
.navbar {
  /* padding-block: 1.8rem; */
  /* background-color: rgba(205, 120, 120, 0.4); */
}
.logo {
  width: 5rem;
}
.navbar ul li a {
  color: #e1e1e1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 3vw, 0.8rem);
  position: relative;
  padding-bottom: 0.7rem;
  transition: color 300ms ease-in;
}

.navbar ul li a:hover {
  color: #2fa2a8;
}

.nav_lists-hidden {
  /* display: none; */
}
.nav_lists {
  background-color: rgba(26, 106, 122, 0.366);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 10rem 2rem;
  inset: 0% 40% 10% 50%;
  transform: translateX(100%);

  transition: transform 300ms ease-in;
  border-bottom-left-radius: 15rem;
}
.nav_lists-animation {
  transform: translateX(0%);
}

.bars:hover .nav_lists {
  /* transform: translateX(0%); */
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .nav_lists {
    -webkit-backdrop-filter: blur(0.7rem);
    backdrop-filter: blur(0.7rem);
    background-color: rgba(20, 27, 28, 0.41);
  }
}
.list + .list {
  margin-top: 1rem;
}
.bars {
  position: absolute;
  top: calc(0% + 2.5rem);
  right: calc(0% + 2rem);
  display: block;
  z-index: 10;
}
.nav_lists1 {
  display: none;
}
@media (min-width: 35rem) {
  .bars {
    display: none;
  }
  .nav_lists1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list + .list {
    margin-left: 1rem;
    margin-top: unset;
  }
  .navbar ul li a::after {
    position: absolute;
    content: "";
    height: 0.2rem;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  .navbar ul li a:hover::after {
    opacity: 1;
  }
}
/* ! navbar section End */

/* ? Banner Section Start */
#banner {
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 23rem;
  position: relative;
  /* opacity: 0.7; */
  z-index: 1;
}
#banner::after {
  position: absolute;
  content: "";
  background: linear-gradient(
    to top,
    hsla(302, 81%, 58%, 0.789),
    rgba(236, 190, 9, 0.751)
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.banner_container {
  /* z-index: 99; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.banner_container h2 {
  font-family: "Yeseva One", cursive;
  color: #e1e1e1;
}
.banner_container h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 5rem);
  line-height: 1.1;
  max-width: 25rem;
  margin: auto;
  font-weight: bold;
  text-align: center;
  padding-block: 2rem;
  color: #e1e1e1;
}
.banner_container p {
  color: #e1e1e1;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 5vw, 0.9rem);
}
.btn {
  border: 2px solid whitesmoke;
  outline: none;
  background-color: transparent;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #e1e1e1;
  margin-top: 2rem;
  transition: all 300ms ease-in;
  z-index: 9999;
}
.btn:hover {
  background-color: #4f47d3;
}
/* ! Banner Section End */

/* ? About Section Start */
#about {
  /* margin-block: 5rem; */
}
.about_head {
  text-align: center;
}
.about_head * {
  text-transform: uppercase;
}
.about_head h3 {
  margin-block-end: 2rem;
  margin-block-start: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  padding-bottom: 2rem;
}
.about_head h3::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  width: 4rem;
  background-color: #cdab25;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about_head h2 {
  /* font-family: "Yeseva One", cursive; */
  font-family: "Alatsi", sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.about_head p {
  font-size: clamp(0.5rem, 3vw, 0.8rem);
  margin-bottom: 4rem;
  padding-inline: clamp(2.5rem, 10vw, 7rem);
  line-height: 1.4;
}

.img_container {
  position: relative;
}
.icon_show_wrapper {
  position: absolute;
  content: "";
  /* background-color: rgba(86, 233, 233, 0.367); */
  background: linear-gradient(
    to top,
    rgba(250, 168, 182, 0.92),
    rgba(242, 161, 10, 0.913)
  );
  /* opacity: 0.3; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 300ms ease-in;
  /* z-index: -1; */
}
.icon_show_wrapper h4 {
  color: #e1e1e1;
  font-variant: small-caps;
  /* text-transform: uppercase; */
  font-weight: bold;
}
.icon_show {
  width: 3rem;
  background-color: #72b8b8;
  aspect-ratio: 1 /1;
  font-size: 1.5rem;
  color: #f0ebeb;
  border-radius: 50%;
  box-shadow: 0px 5px 10px hsl(0 0% 0% / 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}
.img_container {
}
.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img_container-1 {
  /* margin-bottom: 1.5rem; */
}
.img_container:hover .icon_show_wrapper {
  opacity: 1;
}

/* ! About Section End */

/* ? Number Section Start */
#number {
  /* margin-block: 5rem; */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0.797),
    rgba(93, 14, 231, 0.938)
  );
}
.number_container {
  padding-block: 3rem;
}
.number {
  text-align: center;
  color: #e1e1e1;
  text-transform: uppercase;
}
.number h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
}
.number p {
  font-size: 0.5rem;
  margin-top: 0.25rem;
}
/* ! Number Section End */

/* ? Service Section Start */
#service {
  /* margin-block: 7rem; */
}
.service_container {
  margin-top: 4rem;
}
.single_service {
  display: flex;
  width: max-content;
  gap: 1rem;
  max-width: 100%;
  min-width: 33%;
}
.single_service h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.single_service > *.fas,
i {
  font-size: 1.5rem;
  color: #08b1cb;
}
/* ! Service Section End */

/* ? Comment Section Start */
#comment {
  /* margin-block: 5rem; */
  background-color: #f4f4f4;
  padding-block: 3rem;
}
.comment_container {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-inline: 5rem;
}
.com_icon {
  border: 2px solid #08b1cb;
  padding: 2rem;
}
.com_icon i {
  font-size: 4rem;
  color: #72b8b8;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1rem;
  gap: 0.3rem;
}
.auth p {
  color: #2fa2a8;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.auth div {
  height: 0.2rem;
  width: 4rem;
  background-color: #cdab25;
}
.first_letter {
  color: #2fa2a8;
  font-size: clamp(2rem, 5vw, 4.5rem);
  font-weight: bold;
}
@media (max-width: 35rem) {
  .comment_container {
    flex-direction: column;
    padding-inline: 2rem;
  }
  .auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .auth p {
    font-size: 3rem;
    order: 0;
    text-align: center;
  }
  .auth div {
    width: calc(100% - 6rem);
    order: 1;
  }
}
/* ! Comment Section End */

/* ? Team Section Start */
#team {
  /* margin-block: 8rem; */
}
.team_icon .fab {
}
.team_icon > * {
  background-color: #f6cc26;
  color: rgb(255, 123, 0);
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 300ms ease-in, color 300ms ease-in;
}
.team_icon .fab:hover {
  background-color: rgb(255, 123, 0);
  color: #f4f4f4;
}
/* !  Team Section End */

/* ? Image Gellery Section Start */
#photo-gellery {
  /* margin-block: 8rem; */
}
.main_gellery_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  place-items: center;
  /* column-gap: 1.5rem; */
  /* row-gap: 1.5rem; */
}
.img_container {
  position: relative;
}
.icon_show_wrapper {
  position: absolute;
  content: "";
  background-color: rgba(86, 233, 233, 0.367);
  /* opacity: 0.3; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease-in;
  /* z-index: -1; */
}
.icon_show_wrapper h2 {
  font-size: 0.8rem;
  font-weight: bold;
}
.icon_show_wrapper {
  color: #f0ebeb;
  text-transform: uppercase;
}
.icon_show_wrapper p {
  font-size: 0.7rem;
}

.icon_show {
  width: 3rem;
  background-color: #72b8b8;
  aspect-ratio: 1 /1;
  font-size: 2rem;
  color: #f0ebeb;
  border-radius: 50%;
  box-shadow: 0px 5px 10px hsl(0 0% 0% / 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}
.img_container img {
  width: 100%;
}
.img_container-1 {
  /* margin-bottom: 1.5rem; */
}
.img_container:hover .icon_show_wrapper {
  opacity: 1;
}
/* ! Image Gellery Section End */

/* ? Footer Section Start */
#footer {
  /* margin-block: 8rem; */
  background-color: #5c5c5c;
  /* margin-top: 4rem; */
  padding-block: 5rem;
  color: #deedf0;
}
.footer_logo {
  width: 4rem;
}
.footer_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  /* place-items: center; */
  gap: 1rem;
}
/* ! Redandent Style */
/* .footer_content .fas1 {
  font-size: 1.2rem;
  width: 2rem;
  aspect-ratio: 1 /1;
  background-color: #52b9eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */
.footer_links:has(img) {
  border: 2px solid red;
}
.footer_img {
  max-width: 7rem;
  max-height: 4rem;
}
.footer_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer_content .footer_links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.contact p {
  color: #deedf0;
  padding-block: 0.25rem;
  word-wrap: break-word;
}
.para {
  margin-bottom: 1.5rem;
}
.footer_content > h2,
.footer_logo {
  color: #f0ebeb;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.footer_img_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 1rem;
}
.footer_img {
  /* max-width: 7rem; */
}
.footer_links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
}
.footer_links a {
  text-transform: capitalize;
  color: #deedf0;
  transition: color 300ms ease-in;
}
.footer_links a:hover {
  color: #1cb2f3;
}
/* ! Footer Section End */

/* ? End Section Start */
#end {
  padding-block: 0.8rem;
  background-color: #696666;
}
.copyright {
  text-align: center;
}
.copyright a {
  text-transform: uppercase;
  color: #09adf4;
  font-weight: bold;
  cursor: pointer;
}
/* ! End Section End */
