* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.clg {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
li,
a {
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
}
.align_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ? navbar section Start */

.nav_container {
  padding-block: 1.8rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.navbar {
  /* padding-block: 1.8rem; */
  /* background-color: rgba(205, 120, 120, 0.4); */
}
.logo {
  width: 5rem;
}
.navbar ul li a {
  color: #e1e1e1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 3vw, 0.8rem);
  position: relative;
  padding-bottom: 0.7rem;
  transition: color 300ms ease-in;
}
.navbar ul li a::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  width: 100%;
  background-color: #fff;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.navbar ul li a:hover::after {
  opacity: 1;
}
.navbar ul li a:hover {
  color: #2fa2a8;
}
.list + .list {
  margin-left: 1rem;
}
/* ! navbar section End */

/* ? Banner Section Start */
#banner {
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 23rem;
  position: relative;
  /* opacity: 0.7; */
  z-index: 1;
}
#banner::after {
  position: absolute;
  content: "";
  background: linear-gradient(
    to top,
    hsla(302, 81%, 58%, 0.789),
    rgba(236, 190, 9, 0.751)
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.banner_container {
  /* z-index: 99; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.banner_container h2 {
  /* font-family: 'Alatsi', sans-serif; */
  font-family: "Yeseva One", cursive;
  color: #e1e1e1;
}
.banner_container h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 5rem);
  line-height: 1.1;
  max-width: 25rem;
  margin: auto;
  font-weight: bold;
  text-align: center;
  padding-block: 2rem;
  color: #e1e1e1;
}
.banner_container p {
  color: #e1e1e1;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 5vw, 0.9rem);
}
.btn {
  border: 2px solid whitesmoke;
  outline: none;
  background-color: transparent;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #e1e1e1;
  margin-top: 2rem;
  transition: all 300ms ease-in;
  z-index: 9999;
}
.btn:hover {
  background-color: #4f47d3;
}
/* ! Banner Section End */

/* ? About Section Start */
#about {
  margin-block: 5rem;
}
.about_head {
  text-align: center;
}
.about_head * {
  text-transform: uppercase;
}
.about_head h3 {
  margin-block-end: 2rem;
  margin-block-start: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  padding-bottom: 2rem;
}
.about_head h3::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  width: 4rem;
  background-color: #cdab25;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about_head h2 {
  /* font-family: "Yeseva One", cursive; */
  font-family: "Alatsi", sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.about_head p {
  font-size: clamp(0.5rem, 3vw, 0.8rem);
  margin-bottom: 4rem;
  padding-inline: clamp(2.5rem, 10vw, 7rem);
  line-height: 1.4;
}
.about_image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}

/* ! About Section End */
